.infoContainer {
    width: 50%;
    margin-top: 10vh;
    margin: auto;
}

.disclaimer {
    width: 50%;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.disclaimer>h1 {
    font-size: 4vh;
}

.cardsContainer {
    width: 100%;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.2);
}
.divider {
    display: inline-flex;
    width: 100%;
    margin-bottom: 4vh;
    border-top: 1px solid;
    border-color: #FCF7F8;
}
.card {
    font-size: 4vh;
    font-weight: bold;
    width: 70%;
}

.icons {
    display: table;
    width: 30%;
    text-align: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 1.5vh;
    margin: 15% 15% 15% 0;
    width: 100%;
    padding: 5%;
    display: table-cell;
    font-size: 3vh;
    color: #FCF7F8;
}
button {
    max-width: 85%;
}
#diario {
    border-color: #197278;;
    color: #197278;;
}
#rimuovi {
    border-color: #FF0054;
    color: #FF0054;
}
p, h3 {
    margin-left: 5%;
    margin-top: 5%;
}

hr {
    width: 90%;
    border-left: 5%;
    border-right: 5%;
}