<div class="disclaimer">
    <h1>Questi sono gli psicologi che ti stanno seguendo:</h1>
</div>
<div class="infoContainer">
    <div class="cardsContainer" *ngFor="let number of [1,2,3]">
        <div class="divider">
            <div class="card">
                <h3>Nome Cognome</h3>
                <hr>
                <p>Email: asd@ajdjwad.t</p>
                <p>Cellulare: 12317417</p>
                <p></p>
            </div>
            <div class="icons">
                <button id="diario" [routerLink]="['/scrividiario', {emailPsicologo: number}]">Scrivi diario</button>
                <button id="rimuovi">Rimuovi psicologo</button>
            </div>
        </div>
    </div>
</div>