<div class="wave">
    <div class="mainTitle">
        <h1>Assistenza Psicologica</h1>
        <h4>Progetto Advanced Programming Languages<br>Manlio Puglisi</h4>

        <p>Questo è un progetto universitario, non ha nulla a che vedere con le professioni saniarie.</p>
        <p>Se pensi di avere necessità di supporto psicologico</p>
        <p>per favore, rivolgiti ad un esperto.</p>
    </div>

    <div class="myForm">
        <form #formInputs="ngForm">
            <input class="myInput" type="text" name="email" placeholder="Email" autocomplete="off" required ngModel>
            <input class="myInput" type="password" name="password" placeholder="Password" autocomplete="off" required ngModel>
        </form>
    </div>

    <div class="buttonsDiv">
        <app-main-login [formValues]="formInputs"></app-main-login>
        <div class="buttonDivider">oppure</div>
        <app-main-register></app-main-register>
    </div>
</div>

