<div class="wave">
    <div class="mainTitle">
        <h1>Assistenza Psicologica</h1>
        <h4>Progetto Advanced Programming Languages<br>Manlio Puglisi</h4>

        <p>Questo è un progetto universitario, non ha nulla a che vedere con le professioni saniarie.</p>
        <p>Se pensi di avere necessità di supporto psicologico</p>
        <p>per favore, rivolgiti ad un esperto.</p>
    </div>

    <div style="display: inline-block;">
        <app-main-login></app-main-login>
        <app-main-register></app-main-register>
    </div>
</div>