<ul>
    <div class="liDivider" id="div1">
        <li><a href="" routerLink="/">Home</a></li>
        <li><a href="" routerLink="/cercapsicologo">Cerca Psicologo</a></li>
    </div>
    <div class="liDivider" id="div2"></div>
    <div class="liDivider" id="div3">
        <li id="logout"><app-logoutbtn></app-logoutbtn></li>
    </div>
</ul>
<div class="mainContainer">
    <div class="jumbotron">
        <h1>ciao {{ nome }}</h1>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <app-psicologo-card></app-psicologo-card> -->