<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="cercaPsicologoContainer">
    <div class="searcbarContainer">
        <form action="" class="searchbar">
            <input type="text" name="email" placeholder="email" id="">
            <button type="submit" style="background-color: #197278; border: 1px solid #197278;"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="listContainer">

    </div>
</div>