.cercaPsicologoContainer {
    width: 50%;
    margin: auto;
    margin-top: 3vh;
}

.searchbarContainer {
    display: inline;
}

.listContainer {
    margin-top: 3vh;
    font-size: 3vh;
}

form.searchbar input[type=text] {
    width: 79.5%;
    padding: 1%;
    font-size: 3vh;
    border: 0.15vh solid grey;
    border-radius: 2vh 0 0 2vh;
    float: left;
    color: white;
    background: transparent;/* #f1f1f1; */
}

/* Style the submit button */
form.searchbar button {
    float: left;
    width: 18%;
    padding: 1%;
    background: #2196F3;
    color: white;
    font-size: 3vh;
    border: 0.15vh solid grey;
    border-radius: 0 2vh 2vh 0;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.searchbar button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.searchbar::after {
    content: "";
    clear: both;
    display: table;
}
