<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="cercaPsicologoContainer">
    <div class="searchbarContainer">
        <form action="" class="searchbar">
            <input #email type="text" name="email" placeholder="cerca uno psicologo inserendo l'email..." autocomplete="off">
            <button type="submit" style="background-color: #197278; border: 0.15vh solid #197278;" (click)="getPsicologoByEmail(email.value)"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="listContainer">
        <div *ngIf="isFound then PsicologoTrovato else PsicologoNonTrovato;"></div>
        <!-- <app-psicologotrovato></app-psicologotrovato> -->
    </div>
</div>

<ng-template #PsicologoTrovato>
    <app-psicologotrovato [psicologo]=psicologo [isPresent]=isPresent></app-psicologotrovato>
</ng-template>

<ng-template #PsicologoNonTrovato>
</ng-template>